*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    background-color: white;
    font-family: Georgia;
}
hr{
    background-color: rgb(26, 255, 255);
    border: 3px solid rgb(26, 255, 255);
    margin: 10px;
    border-radius: 10px;
}
#container{
    width: 90%;
    min-height: 90vh;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
}
.title{
    width: 800px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 200%;
    margin-bottom: 25px;
    color: #000000;
}
.header .page{
    position: absolute;
    top: auto;
    left: auto;
    float: right;
}
.info{
    display: flex;
}
footer{
    display: flex;
    border-radius: 20px;
    height: max-content;
    margin: auto;
    margin-top: 10px;
}
.contacts{
    background-color: rgb(26, 255, 255);
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    width: 500px;
    margin: 20px;
    padding: 20px;
}

.contacts li{
    background-color:rgb(199, 199, 199);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.contacts li:hover {
    background-color: rgb(82, 82, 82);
    color: whitesmoke;
    transition: all .5s;
}
.locations{
    box-shadow: 5px 5px 5px black;
    background-color: rgb(26, 255, 255);
    border-radius: 20px;
    width: 100%;
    min-height: 100%;
    margin: 20px;
    padding: 5px;
    text-align: center;
}
.locations a{
    font-size: 20px;
    color: black;
}
.locations a:hover{
    color: #000000;
    transition: all .5s;
}
#informations{
    padding: 5px;
    margin: 10px;
}
.work_time{
    box-shadow: 5px 5px 5px black;
    background-color: rgb(26, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.work_time li{
    padding: 10px;
    background-color: rgb(82, 82, 82);
    margin: 10px;
    font-size: 115%;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    text-align: center;
}
.work_time li:hover{
    background-color: rgb(199, 199, 199);
    color: black;
    transition: all .5s;
}
#Google_map{
    border-radius: 10px;
    margin: 10px;
}

/*Animations*/
.title h1 {
    animation: Title_decor 3.5s infinite;
}
.manu ul{
    display: flex;
    margin-left: 20px;
}
li{
    list-style: none;
    margin-left: 5px;
}
.manu li a{
    font-size: 18px;
    margin: 10px;
    color: black;
}
.manu a:hover,.manu li:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: all .3s;
}
.content_manu{
    border-radius: 20px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.middle
{
    height: 90%;
    border-radius: 200px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-image: url ("images/dentist.jpg");
    ;
}